<%- include ('layouts/header.ejs') -%>

<div class="container">
  <h1>
    <%= title %>
  </h1>
  <p>
    Bienvenido a nuestra tienda de videojuegos en línea. En nuestra tienda, nos apasiona ofrecer una amplia selección de videojuegos para satisfacer a todos los jugadores, desde los más casuales hasta los más entusiastas.
    
    <h2>Nuestra Misión</h2>
    Nuestra misión es brindar a nuestros clientes una experiencia excepcional al comprar videojuegos en línea. Nos esforzamos por ofrecer una amplia variedad de títulos, desde los clásicos más queridos hasta las últimas novedades del mercado. Nos comprometemos a brindar un servicio al cliente de calidad y a garantizar la satisfacción de nuestros clientes en cada compra.
    
    <h2>Nuestra colección</h2>
    En nuestra tienda, encontrarás una extensa colección de videojuegos para todas las plataformas populares, como PlayStation, Xbox, Nintendo Switch y PC. Trabajamos en estrecha colaboración con los principales desarrolladores y distribuidores de la industria para asegurarnos de ofrecer los títulos más emocionantes y demandados.
    
    <h3>Experiencia y conocimiento</h3>
    Contamos con un equipo de entusiastas de los videojuegos que poseen un profundo conocimiento y experiencia en la industria. Estamos constantemente actualizados sobre las últimas tendencias y lanzamientos, lo que nos permite brindarte recomendaciones personalizadas y asesoramiento experto para que encuentres el videojuego perfecto que se adapte a tus gustos y preferencias.
    
    <h3>Compra segura y conveniente</h3>
    Entendemos la importancia de una experiencia de compra segura y conveniente. Nuestra plataforma de ventas en línea está diseñada para garantizar la protección de tus datos personales y la seguridad de tus transacciones. Además, ofrecemos opciones de pago flexibles y envío rápido para que puedas disfrutar de tus juegos sin demoras.
    
    <h3>Comunidad</h3>
          Te invitamos a unirte a nuestra comunidad de jugadores apasionados. Síguenos en las redes sociales para mantenerte actualizado sobre las últimas noticias de la industria, promociones exclusivas y eventos especiales. También puedes suscribirte a nuestro boletín informativo para recibir información relevante directamente en tu bandeja de entrada.
          
          ¡Gracias por visitarnos y esperamos que encuentres los videojuegos que te hagan disfrutar al máximo de tu experiencia de juego! <%= title %>
    <style>
      #contenedor {
        position: relative;
        height: 300px;
      }

      #texto {
        position: absolute;
        bottom: o;
      }
    </style>
    <div style="margin-top: 100px;" id="contenedor">
      <p id="texto">
      <h6>Contacto y Soporte</h6>
        Si tienes alguna pregunta, inquietud o necesitas ayuda, nuestro equipo de atención al cliente está disponible para brindarte asistencia personalizada. Nos esforzamos por ofrecer un excelente servicio y resolver cualquier problema que puedas tener de manera rápida y eficiente.
      <h6>Contacto y Soporte</h6>
        Si tienes alguna pregunta, inquietud o necesitas ayuda, nuestro equipo de atención al cliente está disponible para brindarte asistencia personalizada. Nos esforzamos por ofrecer un excelente servicio y resolver cualquier problema que puedas tener de manera rápida y eficiente.
      </p>
    </div>  
  </p>
</div>

<%- include ('layouts/footer.ejs') -%>